* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Liberation Sans, Arial, sans-serif;
	height: 100%;
	width: 100%;
}

#site-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#site-body-main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start;
	height: 85%;
	width: 85%;
}

#site-body-main-image {
}

#site-body-main-form {
	display: flex;
	flex-direction: column;
}

#image {
	font-size: 25em;
}
