* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Liberation Sans, Arial, sans-serif;
	height: 100%;
	width: 100%;
	font-size: 15px;
}

::-moz-selection { /* Code for Firefox */
	background: #FFE2F6;
}

::selection {
	background: #FFE2F6;
}

#site-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#site-body-main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start;
	height: 85%;
	width: 50%;
}

#site-body-main-image > #image {
	font-size: 20em;
}

#site-body-main-form {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	margin-left: 50px;
}

#form-title {
	margin: 0 10px 0 10px;
}

#form-title a {
	color: #007C89;
	text-decoration: none;
}

#form-title a:hover {
	color: #004E56;
	text-decoration: none;
}

.form-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.form-item > input {
	width: 85%;
}

.form-item > input:focus {
	border: 2px solid #007C89;
	border-radius: 2px;
	resize: none;
}

input {
	min-height: 46px;
	font-size: 1.7rem;
	line-height: 15px;
	padding: 0 15px;
	margin: 10px 0 20px 0;
}

#list {
	margin-left: 20px;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	height: 100px;
}

ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: #007C89;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

ul li {
	margin: 5px 0 5px 0;
}

#form-signup {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#submit {
	font-size: 15px;
	padding: 5px;
	width: 120px;
	height: 30px;
}

#form-checkbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 60%;
}

 /* Customize the label (the container) */
#form-checkbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
#form-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
#form-checkbox:hover input ~ .checkmark {
	background-color: #ccc;
}

#form-checkbox input:checked ~ .checkmark {
	background-color: #007C89;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
#form-checkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
#form-checkbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#form-acknowledgement {
	margin-top: 15px;
}

#form-acknowledgement a {
	color: #007C89;
}

#form-acknowledgement a:hover {
	color: #004E56;
}
