* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Liberation Sans, Arial, sans-serif;
	height: 100%;
	width: 100%;
	font-size: 15px;
}

::-moz-selection { /* Code for Firefox */
	background: #FFE2F6;
}

::selection {
	background: #FFE2F6;
}

#site-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#site-body-main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start;
	height: 85%;
	width: 50%;
}

#site-body-main-image {
}

#site-body-main-image > #image {
	font-size: 20em;
}

#site-body-main-form {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	margin-left: 50px;
}

#form-title {
	margin: 0 10px 0 10px;
}

#form-title a {
	color: #007C89;
	text-decoration: none;
}

#form-title a:hover {
	color: #004E56;
	text-decoration: none;
}

.form-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.form-item > input {
	width: 85%;
}

.form-item > input:focus {
	border: 2px solid #007C89;
	border-radius: 2px;
	resize: none;
}

input {
	min-height: 46px;
	font-size: 1.7rem;
	line-height: 15px;
	padding: 0 15px;
	margin: 10px 0 20px 0;
}

#list {
	margin-left: 20px;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	height: 100px;
}

ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: #007C89;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

ul li {
	margin: 5px 0 5px 0;
}

#form-signup {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#submit {
	font-size: 15px;
	padding: 5px;
	width: 120px;
	height: 30px;
}

#form-checkbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 60%;
}
